<div class= container>
<h1>Stupid Coaching</h1>

<h3>Your question : "<%= params[:question] %>" </h3>
<h3>Stupid coach's answer: "<%= @answer %>" </h3>

<%= link_to "Ask a new question", ask_path %>
</div>
